<div class="fopl-deco-scene" aria-hidden="true">
  <img class="deco-palm" src="{{ '/FOTPL/Images/PalmTree.png' | relative_url }}" alt="">
  <img class="deco-palm" src="{{ '/FOTPL/Images/PalmTree.png' | relative_url }}" alt="" style="height:115px;animation-delay:0.8s;">
  <img class="deco-book-mascot" src="{{ '/FOTPL/Images/bookclipart.png' | relative_url }}" alt="">
  <img class="deco-palm deco-palm--right" src="{{ '/FOTPL/Images/PalmTree.png' | relative_url }}" alt="" style="height:115px;animation-delay:1.2s;">
  <img class="deco-palm deco-palm--right" src="{{ '/FOTPL/Images/PalmTree.png' | relative_url }}" alt="">
</div>

<div class="fopl-footer">
  &copy; 2025 Friends of the Poway Library &mdash;
  <a href="https://powayfriends.org">powayfriends.org</a>
</div>
